target
pkg/*
!entropy.js
!shannon_entropy_wasm_bg.wasm

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here http://doc.crates.io/guide.html#cargotoml-vs-cargolock
Cargo.lock
